.new_collection{
    padding: 20px;
    
  
}

.new_collection{
    margin-bottom: 80px;
      height: auto;
      flex-wrap: wrap;
      margin-left: 20px;
      
      
  }
  .new_collection h1{
      font-weight: 600;
      font-size: 50px;
      color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  
  }
  .new_collection hr{
      width: 30%;
     display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      height: 3px;
      margin: auto;
      background-color: #252525;
  }

  
  .collection{
    margin-top: 10px;
    gap: 4px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
  }

  