.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.footer-logo{
    display: flex;
   
}
.footer-logo img{
     width: 80px;
     height: 70px;
}
.footer-logo p{
    font-size: 40px;
   
}

.footer-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin-top: 40px;
    cursor: pointer;


}

.footer-list :hover{
    color: chocolate;
    border-bottom: 2px solid  #61573b;
    transition: 2ms;

}
.footer-social-icon{
    display: flex;
    gap: 2rem;
    margin-top: 60px;
}

hr{
    margin-top: 40px;
   width: 90%;
 
}
.copy{
   font-size: 15px;
}